.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.app-2{
  display: flex;
  justify-content: space-around;
  place-items: center;
  width: 100%;
  padding: 0;
  border-radius: 2px;
  background-image: linear-gradient(#800080 20%,#FF00FF 80%);
  top: 0;
  position: fixed;
}
.nav{
  width: 60%;
  margin: top 20px;
  margin-right: 200px;
  display: inline-flex;
  justify-content:space-around;
  color: black;
}
.Link{
  color: aquamarine;
  font-style: normal;
  text-transform: uppercase;
  font-weight: bold;
  
  font-size: 17px;
  
}
.logo{
      width: 40%;
      padding-left: 40px;
      margin-left: 160px;
      margin: top 10px;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.container{
    padding-top: 10%;
    width: 100%;
    height: max-content;
    padding-bottom: 10%;
    align-items: center;
    text-align: center;
   
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
